body {
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}

.imagem {
    padding-right: 130px;
}

input {
    border: 1px solid hsl(279, 6%, 55%);
    border-radius: 5px;
    height: 30px;
    color: red;
}